.card-container1{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0px;
   background-color: rgb(248, 245, 242);
    color: hsl(180, 19%, 88%)fff;
    border-radius: 20px;
    margin-top: 30px;
}
.btn {
    row-gap: 10px;
    justify-content: center;
    width: 310px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 3px;
    margin: 10px;
    background-color:black;
    

}
@media (max-width: 768px) {
    .btn {
        max-width: 100%; /* Make the button take the full width on smaller screens */
    }
}
